.content {
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.1vh 0 2.1vh 1.7vw;
    box-sizing: border-box;
    -webkit-overflow-scrolling: auto;
}