.header {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    position: fixed;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    left: 3.7vw;
    right: 3.7vw;

    &__list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        &-item {
            &::after {
                content: ",";
            }
            &:last-child::after {
                content: "";
            }
        }
    }
    &__link {
        text-decoration: none;
        color: @color-green;
        margin: 0;
    }

}