.slider {
display: flex;
overflow: hidden;
width: 100%;

    &:not(:last-child) {
        margin-bottom: 40px;
    }
    &__content {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }
    &__slid {
       display: flex;
       margin-right: 2.5vw;
       flex-shrink: 0;
       width: 100%;
       scroll-snap-align: start;
       transform-origin: center center;
       transform: scale(1);
       transition: transform 0.5s;
       position: relative;

       &:last-child {
           margin-right: 0;
       }
    }
    &__name {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid black;
        flex-shrink: 0;
        padding-right: 0.4vw;
        padding-left: 0.4vw;
        width: 30%;
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid black;
        flex-shrink: 0;
        padding: 0 1.7vw;
        box-sizing: border-box;
        background-size: cover;
        background-position: center center;
        width: 33%;
    }

    &__img {
        height: 48.7vh;
        width: 24.3vw;
        margin-bottom: 1vh;
    }

    &__title {
        font-size: 3.3em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        margin: 0;
        color: @color-green;
        width: 14ch;
    }

    &__paragraph {
        color: @color-green;
        width: 19ch;
        margin: 0;

        &_small {
            width: 14ch;
        }
    }

    &__icon {
        &_plus {
            background-image: url("assets/icons/plus.png");
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
        }
        &_with_gap {
            padding-right: 1.4vw;
        }
    }

    &__footer {
        display: flex;
        margin-top: auto;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.8);
    }
}