.header {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
}
.header__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.header__list-item::after {
    content: ",";
}
.header__list-item:last-child::after {
    content: "";
}
.header__link {
    text-decoration: none;
    color: var(--color-green);
    margin: 0;
}
.header__list-item {}
